body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Added this line to fix the box sizing */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #347df3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1e0bd9;
}