<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.mapper.BooksMapper">

    <select id="selectBooks" resultType="com.hh.pojo.Books">
        SELECT * FROM books
        <where>
            <if test="username != null and username.trim() != ''">
                AND username LIKE #{username}
            </if>
            <if test="title != null and title.trim() != ''">
                AND title LIKE #{title}
            </if>
        </where>
    </select>

    <!--<select id="selectBooks" resultType="com.hh.pojo.Books">
        SELECT * FROM books
        <where>
            <if test="username != null and username.trim() != ''">
                AND username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="title != null and title.trim() != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
        </where>
    </select>-->

</mapper>